{% block form_row %}
    <div class="form-group clearfix">
        {{ form_label(form) }}
        <div class="col-md-8">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock form_row %}

{% block widget_attributes %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
    {% set label_attr = label_attr|merge({'for': id}) %}
{% endif %}
            {% if required %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
{% endif %}
            {% if label is empty %}
    {% set label = name|humanize %}
{% endif %}
            {% if label is iterable %}
    {% set label = label|locale %}
{% endif %}
            {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ ' col-sm-2 control-label'}) %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}:</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}
    
{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_label(child) }}{{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block cms_localization_text_type_widget %}
    {% for child in form %}
        {% if child.vars.name|lower != app.request.locale|lower %}
            {{ form_widget(child, {'attr': {'style':'display:none' }}) }}
        {% else %}
            {{ form_widget(child) }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block cms_localization_textarea_type_widget %}
    {% for child in form %}
        {% if child.vars.name|lower != app.request.locale|lower %}
            {{ form_widget(child, {'attr': {'style':'display:none' }}) }}
        {% else %}
            {{ form_widget(child) }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block cms_localization_entity_type_widget %}
    {% spaceless %}
        {% if expanded %}
            <div {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <div class="checkbox">
                        <label>
                            {{ form_widget(child) }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {{ form_widget(form) }}
        {% endif %}
    {% endspaceless %}
{% endblock cms_localization_entity_type_widget %}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {% set label = choice.label %}

        {% if label is iterable %}
            {% set label = label|locale %}
        {% endif %}

        {%- if choice is iterable -%}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ label|trans({}, translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{% block checkbox_widget %}
    {% spaceless %}
        {% if label is iterable %}
            {% set label = label|locale %}
        {% endif %}
        <input type="checkbox"
               name="{{ full_name }}" {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ label }}
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="list-unstyled">
                {% for error in errors %}
                    <li class="text-danger">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block cms_gallery_images_type_widget %}
    {% spaceless %}
        <div class="row">
            {{ form_errors(form) }}
            <div id="gallery_images" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
                {% for child in form.children %}
                    {{ form_widget(child) }}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <span class="btn btn-primary fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>{{ 'labels.add_files'|trans({}, 'gallery') }}</span>
                    <input type="file" id="imageupload" name="file"
                           data-url="{{ path('cms_gallery_upload_image') }}">
                </span>
            </div>
        </div>
    {% endspaceless %}
{% endblock cms_gallery_images_type_widget %}

{% block cms_gallery_image_type_widget %}
    {% spaceless %}
        <div class="col-sm-6 col-md-6 gallery_image">
            <div id="{{ form.vars.id }}" class="thumbnail">
                <div class="control-panel">
                    <i class="icon delete" title="{{ 'title.delete_image'|trans({}, 'gallery') }}"></i>
                    <i class="icon edit" title="{{ 'title.edit_image'|trans({}, 'gallery') }}"></i>
                </div>
                <img src="/{{ image_url(form.path.vars.value, {'type': 4, 'size': 256}) }}">
                <div class="caption">
                    {{ form_widget(form.descriptions) }}
                    {{ form_widget(form.path) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock cms_gallery_image_type_widget %}

{% block cms_hotels_seasons_type_widget %}
    {% spaceless %}
        <div class="row">
            {{ form_errors(form) }}
            <div id="seasons" class="col-md-12 col-sm-12" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
                {% for child in form.children %}
                    {{ form_widget(child) }}
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-md-12">
                <span class="btn btn-primary" id="add_season">
                    <i class="glyphicon glyphicon-plus"></i>
                    {{ 'Add'|trans({}, translation_domain) }}
                </span>
            </div>
        </div>
    {% endspaceless %}
{% endblock cms_hotels_seasons_type_widget %}

{% block cms_hotels_season_type_widget %}
    {% spaceless %}
        <div class="panel panel-default season">
            <div class="panel-heading clearfix">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-6 col-md-6">
                        <div class="input-group">
                            {{ form_widget(form.date_start) }}
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                            {{ form_errors(form.date_start) }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="input-group">
                            {{ form_widget(form.date_end) }}
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                            {{ form_errors(form.date_end) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        {{ form_widget(form.price) }}
                        {{ form_errors(form.price) }}
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock cms_hotels_season_type_widget %}