<div class="col-md-12">
    <div class="row">
        {% include 'RestaurantsBundle::panel.html.twig' with { panelButtons: block('panelButtons')} %}
    </div>
    <div class="row">
        {% block main %}{% endblock %}
    </div>
</div>