{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block body %}
    {% embed 'RestaurantsBundle::main.html.twig' %}
        {% block panelButtons %}
            <a href="{{ url('cms_restaurants_kitchens_create') }}"
               class="glyphicon glyphicon-plus btn btn-success btn-xs">{{ 'Add'|trans }}</a>
        {% endblock %}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{ 'Title'|trans }}</th>
                    <th>{{ 'Create by'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for kitchen in kitchens %}
                        <tr>
                            <td><input type="checkbox" value="{{ kitchen.id }}" name="mark[]"/></td>
                            <td>{{ kitchen.id }}</td>
                            <td>
                                <a href="{{ url('cms_restaurants_kitchens_edit', {id: kitchen.id}) }}">
                                    {{ kitchen.title|locale }}
                                </a>
                            </td>
                            <td>{{ kitchen.createBy }}</td>
                            <td>{{ kitchen.dateCreate|date('d.m.Y') }}</td>
                            <td><a href='{{ url('cms_restaurants_kitchens_edit', {id: kitchen.id}) }}'><span
                                            class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                            <td><a href='{{ url('cms_restaurants_kitchens_delete', {id: kitchen.id}) }}'><span
                                            class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}